.App {
  text-align: center;
}

.box {
  margin: 50px auto;
  height: 300px;
  width: 300px;
}
.default {
  background-color: #ccc;
  opacity: 75%;
}
.box:hover {
  opacity: 100%;
}
.clicked {
  background-color: #00ff00;
}
.box.clicked.multipleClick {
  background-color: #ff0000;

}
